In [71]:
my_int_number = 25
#identifyer is the naming convention for something
#using underscores in naming conventions are called snake case
#the ones with captials are capitalcases
my_float_number = 12.656
#can use single or double quotes for strings
dna_seq = "ATCGTAATCGCTAA"

print(my_int_number)
print(my_float_number)

25
12.656

In [72]:
new_add = my_int_number + my_float_number
new_subtract = my_int_number - my_float_number
new_multiply = my_int_number * my_float_number
new_division = my_int_number / my_float_number
new_power = 2**10
new_remainder = my_int_number % 10
new_int_division = my_int_number // 10
#note! int division will always remove the decimal regardless of if it needs to be rounded up or down. it just removes
#ex, 25/10 = 2.5 but whole division will display as 2

In [ ]:
my_int_number = 25 #integer

my_float_number = 12.6 #float

dna_seq = "ATCGTAATCGCTAA" #string

#my_boolean = True
#boolean values need to be capticalized and are either True or False
#this does not need to be written in the code, this is just hardwired in the code (check two chunks below)

:

In [74]:
print(my_int_number == 20)
#this checks to see if the info is correct

False

In [75]:
print(my_int_number != 20)
#this confirms that it is indeed false

True

In [76]:
num_bases = len(dna_seq)
#Len() counts the number of characters in the string. In this example - it equals 5
print(num_bases)
#in this case the answer should be 14 - which it does

14

In [77]:
#You can also write it like this to avoid saving a seperate object
print(len(dna_seq))
#if something is a more complex task (ex calculations) - do it as above
#the idea is to keep the code simple

14

For noteing!
Some functions need more than one aregument - ex the round function - example in the next chunk

In [78]:
print(round(my_float_number))
#rounds to the nearest whole number
print(round(my_float_number, 2))
#this rounds to two decimal places when it is written
#the difference between these is the number of arguments in the function and is seperated by a comma

13
12.6

In [79]:
print(type(my_int_number))
#this show the class type of the variable

<class 'int'>

In [80]:
print(pow(2,10))
#This operation helps remove the need to use the ** function

1024

In [81]:
print(abs(-27))
#This shows the absolute value (non negative number)

27

Integers and Floats are atomic values - they are one whole value - meaning they cannot be divided into parts. However in the case of strings, they can be broken up as well as some other data types. Strings can be considered multiple data types

Methods are linked to specific data types - ex lower() they are limited to strings unlike functions which are not limited to strings
Methods need the variable or object first followed by a dot then the method

In [ ]:
print(dna_seq.lower())
#This puts the string in all lowercase
#Still need the () even if there is no arguments in it

:

In [83]:
print(dna_seq.upper())
#makes the string in all upper case

ATCGTAATCGCTAA

In [84]:
my_new_str = "Humber is located in Toronto"
print(my_new_str.swapcase())
#swaps the cases in the string

hUMBER IS LOCATED IN tORONTO

In [85]:
my_new_str = "Humber is located in Toronto"
print(my_new_str.title())

Humber Is Located In Toronto

In [86]:
seq_length = len(dna_seq) #this will come out as an integer
print(seq_length)

14

Concatination is the addtion of multiple values being printed in the same spot for strings

In [87]:
print("My DNA is " + dna_seq)
#this helps run multiple values and 
#this is called concatitination

My DNA is ATCGTAATCGCTAA

NOTE! you can print two different data types simulatinously if they are commpatible but not if the operations are different. Example - + can be used to combine two string lines together but if they are used in an integer operation and combining with a string it doesn't work.

In [88]:
#print("my DNA is" + dna_seq "and it's length is" + seq_length)
#this won't work because there are two types of data types (string and int)
#therfore, you need to convert

print(int(25.759374))
#this will truncate the decimal point - this will not round to the nearest whole
print(str(1943))
#this will now convert an integer or float into a string

print("My DNA is " + dna_seq + " and it's length is " + str(seq_length))

25
1943
My DNA is ATCGTAATCGCTAA and it's length is 14

In [89]:
print(str(0)+"/"+str(0))
#we can convert values not operations themseleves

0/0

In [90]:
#All string will be true as well unless left empty
#any number converted into bool will always be True except 0 will always be False
conversion = bool("")
print(conversion)

False

In [91]:
city_1 = "Toronto"
city_2 = "Calgary"
city_3 = "Vancover"
#But if you want all of them together?

cities = ("Toronto", "Calgary", "Vancover")
print(type(cities))
#This creates a variable type called "tuple"
#they are immutable - which means that if you change the code, you create a copy or new object when you run it again

print(len(cities))
#Doing this counts the number of strings, not the characters in the string

<class 'tuple'>
3

In [92]:
dna_seq.lower()
print(dna_seq)
#this creates a copy of the original one, which is why the putput is still uppercase

ATCGTAATCGCTAA

In [93]:
lower_copy = dna_seq.lower()
print(lower_copy)
#you can over ride the original copy by making the value = the .lower()
#ex. dna_seq = dna_seq.lower()

atcgtaatcgctaa

In [94]:
first_city = cities[0]
#this is because the first position is always 0 in coding
print(first_city)

Toronto

In [95]:
#to modifiy the tuple - you can't unless you overide the tuple
#cities = ("Toronto", "Calgary", "Vancover")
#cities[2] = "Halifax"
#This won't work

cities = ("Toronto", "Calgary", "Vancover")
cities = ("Toronto", "Calgary", "Halifax")
#the second tuple will overwrite the first
print(cities)

('Toronto', 'Calgary', 'Halifax')

In [1]:
#the input function alllows the user to input the info
#num_1 = input("Enter number 1: ")
#num_2 = input("Enter number 2: ")
#NOTE!- these will ALWAYS return as strings!!! if you want to do math, conversion is needed
#Otherwise it just returns a combine number - ex. 10 +5 = 105

num_1 = float(input("Enter number 1: "))
num_2 = float(input("Enter number 2: "))
addition = num_1 + num_2

print("Your result is "+str(addition))

Your result is 3.0

In [97]:
#this will be needed for the complimenting of the DNA in lab 1
#replace()

In [99]:
result = (
        "This is a very "
        "long string that "
        "is split over multiple lines."
    )
print(result)

This is a very long string that is split over multiple lines.